   <div class="container container-fluid-custom py-md-5 mb-5 ">
 <main>

    <div class="px-4 py-2 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Page not found</h1>
        <div class="col-lg-6 mx-auto">
          
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/auth/google">  <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Explore S-Notes</button> </a>
            
            
          </div>
        </div>
      </div>
 </main>
</div>