   <div class="container container-fluid-custom py-md-5 mb-5 ">
 <main>

    <div class="px-4 py-2 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Simplify Note</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4"> write your thoughts down as they come to you,Take the hassle out of note-taking,

            Capture, organize, and find your notes effortlessly</p>
   
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/auth/google">  <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Try Notes, it's FREE</button> </a>
            
            
          </div>
        </div>
      </div>
 </main>
</div>