:root{
    --background-color:#FFFFFF  ;
    --bs-primary-rgb:  #333333;
}

body{
    font-family: 'sans-serif';
    background-color: var(--background-color);
    color: var()--bs-primary-rgb;
    font-size: 300;
    font-size: 1.2rem;

}

h1,h2,h3,h4,h5,h6{
    /* font-family: cursive; */
    font-weight: 800;
}

.container-fluid-custom{
    max-width: 1600px;
}

.btn{

    border-radius: 2rem;
}

.home{
    
}